:root {
  --text-font-family: 'Kokila';
}

.ML__small-delim {
  font-family: var(--text-font-family), KaTeX_Main !important;
}

.ML__text {
  font-family: var(--text-font-family), KaTeX_Main !important;
}

.ML__cmr {
  font-family: var(--text-font-family), KaTeX_Main !important;
}

.ML__mathit {
  font-family: var(--text-font-family), KaTeX_Math !important;
  font-style: italic;
}

.ML__mathbf {
  font-family: var(--text-font-family), KaTeX_Main !important;
  font-weight: 700;
}

.ML__mathbfit,
.lcGreek.ML__mathbf {
  font-family: var(--text-font-family), KaTeX_Math !important;
}

.ML__mathbfit {
  font-family: var(--text-font-family), italic !important;
  font-weight: 700;
}

.ML__ams,
.ML__bb {
  font-family: var(--text-font-family), KaTeX_AMS !important;
}

.ML__cal {
  font-family: var(--text-font-family), KaTeX_Caligraphic !important;
}

.ML__frak {
  font-family: var(--text-font-family), KaTeX_Fraktur !important;
}

.ML__tt {
  font-family: var(--text-font-family), KaTeX_Typewriter !important;
}

.ML__script {
  font-family: var(--text-font-family), KaTeX_Script !important;
}

.ML__sans {
  font-family: var(--text-font-family), KaTeX_SansSerif !important;
}


.ML__frac-line:after {
  min-height: 0.8px; /* thickness of the fraction line */
  margin-top: 0px; /* offset to align the fraction line with the numerator and denominator */
}
