:root {
  --text-font-family: 'Kokila';
}

.ML__small-delim {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Main !important;
}

.ML__text {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Main !important;
}

.ML__cmr {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Main !important;
}

.ML__mathit {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Math !important;
  font-style: italic;
}

.ML__mathbf {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Main !important;
  font-weight: 700;
}

.ML__mathbfit,
.lcGreek.ML__mathbf {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Math !important;
}

.ML__mathbfit {
  font-family: var(--text-font-family), 'Times New Roman', italic !important;
  font-weight: 700;
}

.ML__ams,
.ML__bb {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_AMS !important;
}

.ML__cal {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Caligraphic !important;
}

.ML__frak {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Fraktur !important;
}

.ML__tt {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Typewriter !important;
}

.ML__script {
  font-family: var(--text-font-family), 'Times New Roman', KaTeX_Script !important;
}

.ML__sans {
  font-family: var(--text-font-family), 'Arial Unicode MS', KaTeX_SansSerif !important;
}
